@import "tailwindcss";

/*MODO CLARO */
:root {
  --bg-page: #eef2ff;  
  --bg-card: #ffffff;   
  --text-primary: #0f172a; 
  --text-secondary: #334155; 
  --border-color: #d0d7ff;
  --shadow-light: 4px 4px 10px #d4dcff, -4px -4px 10px #ffffff;
}

/*MODO OSCURO*/
html.dark {
  --bg-page: #0b1120;
  --bg-card: #1b2433;
  --text-primary: #dce7ff;
  --text-secondary: #b6c3e0;
  --border-color: #334155;
  --shadow-light: none;
}


html,
body,
#__next {
  min-height: 100%;
  background-color: var(--bg-page) !important;
  color: var(--text-primary);
  transition: background-color 0.25s ease, color 0.25s ease;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  width: 100%;
}


.card {
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-light);
  border-radius: 1.5rem;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes float-image {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-8px) scale(1.03);
  }
}

.animate-float-image {
  animation: float-image 3s ease-in-out infinite;
}

* {
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a5b4fc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}
